atomicwrites==1.3.0
attrs==19.1.0
certifi==2019.3.9
chardet==3.0.4
furl==0.5.7
idna==2.8
jsonschema==2.5.1
more-itertools==7.0.0
orderedmultidict==1.0
pluggy==0.9.0
pook==0.2.6
py==1.8.0
pytest==4.4.0
PyYAML==5.1
requests==2.21.0
six==1.12.0
unmock==0.1.0
urllib3==1.24.1
xmltodict==0.10.2
